:root {
    --brand-color: #212121;
    --secondary-color: #2196F3; 
    --anim-speed:250ms
}

body{
    font-family: "Roboto", sans-serif; 
    color:  #757575;
    }

    /*----reset-atart*/

h1,
h2,
h3,
h4,
h5,
h6, 
p {
    margin: 0px;
}

.list{
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.link {
    text-decoration: none;
    padding: 0px;
    margin: 0px;
}

img{
    display: block;
    padding: 0px;
}

.container{
    width: 1200px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

/*-----Header---*/

.header__container{
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ECECEC;
}

.header__group {
    display: flex;
    align-items: center;
    gap: 50px;
}

.header__contacts {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #757575;
    display: flex;
    padding-top: 32px;
    padding-bottom: 32px;
    align-items: center;
    gap: 10px;
    transition-duration: var(--anim-speed);
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1)
}

.header__contacts:focus,
.header__contacts:hover {
    color: var(--secondary-color);
}

.header__phone,
.header__email {
    fill: currentColor;
}

.header__logo{
    margin-right: 93px;
}

.logo {
    font-family: 'Raleway';
    font-size: 26px;
    line-height: 1.19;   
    letter-spacing: 0.03em;
    color: var(--secondary-color);
    display: block;
}

.logo--black {
    color: #000000;
}

.nav{
    margin-right: auto;
}

.nav__list {
    display: flex;
    align-items: center;
    gap: 50px;
}

.nav__item {
    position: relative;
}

.nav__link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--brand-color);
    cursor:pointer;
    transition-duration: var(--anim-speed);
    transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);
}

.nav__link--current {
    color:var(--secondary-color);
}

.nav__link--current-line::after{
    content:'';
    display: block;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: 108%;
    height: 4px;
    border-radius: 2px;
    background: var(--secondary-color);
}

.nav__link:focus,
.nav__link:hover{
    color: var(--secondary-color);
}


/*------Hero------*/

.hero {
    max-width: 1600px;
    min-height: 600px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-background.jpg);
    background-color: #C4C4C4;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-right: auto;
    margin-left: auto;
    padding-top: 200px;
    padding-bottom: 200px;
}

.hero-text{
    margin-right: 338px;
    margin-bottom: 30px;
    margin-left: 252px;
    width: 696px;
    font-family: inherit;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36; 
    text-align: center; 
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
}  

.hero-btn{
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    display: block;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    
    cursor: pointer;
    border-radius: 4px;
    padding: 10px 32px;
    margin: 0 auto;
    border-width: 0px;
    transition-duration: var(--anim-speed);
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1)
}

.hero-btn:active,
.hero-btn:hover,
.hero-btn:focus{
    background: #188CE8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}



/*-------modal-window------*/

.backdrop{
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    z-index: 100;
    transition: var(--anim-speed) linear, visibility var(--anim-speed) linear;
}

.modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 528px;
    height: 581px;
    padding: 40px;
    background-color: #fff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform var(--anim-speed), opacity var(--anim-speed);
}

.modal-btn{
    position: absolute;
    top: 14px;
    right: 14px;

    width: 30px;
    height: 30px;
    padding: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background: #FFFFFF;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    transition: fill var(--anim-speed);
}

.modal-btn:hover,
.modal-btn:focus{
   fill: var(--secondary-color);
}

.backdrop.is-hidden{
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.backdrop.is-hidden .modal{
    opacity: 0;
    transform: translateX(-50%) translateY(-70%);
}

.modal-form-group{
    margin-bottom: 20px;
}

.modal-label{
    display: block;
    text-align: center;
    margin-bottom: 12px;
    font-size: 20px;
    line-height: calc(23/20);
    letter-spacing: 0.03em;
    color: var(--brand-color);
}
.modal-form-label{
    display: block;
    font-size: 12px;
    margin-bottom: 4px;
    font-weight: 400;
    line-height: calc(14/10);
    letter-spacing: 0.01em;
    color: #757575;
}
.modal-form-wrapper{
    position: relative;
    margin-bottom: 10px;
}

.modal-form-field{
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-left: 42px;
    padding-right: 42px;
    outline: 1px solid transparent;
    transition: outline var(--anim-speed), box-shadow;
}
.modal-form-field:focus{
    outline-color: var(--secondary-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.modal-form-icon{
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    transition: fill var(--anim-speed);
    
}
.modal-form-field:focus + .modal-form-icon{
    fill: var(--secondary-color);
}

.modal-form-message{
    display: block;
    width: 100%;
    height: 120px;
    resize: none;
    font-weight: 400;
    font-size: 12px;
    line-height: calc(14/12);
    letter-spacing: 0.01em;

    color: var(--brand-color);

    padding: 12px 16px;
    
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition: fill var(--anim-speed);
}

.modal-form-message:focus{
    outline-color: var(--secondary-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.modal-form-btn{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: calc(30/16);
    display: block;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: 0px;
    width: 200px;
    height: 50px;
    margin: 0 auto;
    margin-top: 30px;
    padding: 10px 52px;
    transition: background var(--anim-speed);
}

.modal-form-btn:hover,
.modal-form-btn:focus{
    background:#188CE8;
}

.modal-form-agreement{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 7px;
    font-weight: 400;
    font-size: 14px;
    line-height: calc(24/14);
    letter-spacing: 0.03em;
    color: #757575;
    margin-bottom: 30px;
}

.modal-form-agreement-link{
    color: var(--secondary-color);
    text-underline-offset: 3px;
}

.modal-form-checkbox{
    appearance: none;
    width: 16px;
    height: 15px;
    background: #FFFFFF;
    border-radius: 2px;
    border: 1.75px solid var(--brand-color);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 0;
    transition: background-size var(--anim-speed), background-color var(--anim-speed), border-color var(--anim-speed) ;
}
.modal-form-checkbox:checked{
    background-color: var(--secondary-color);
    border-color: #2196F3;
    background-image: 
    url("data:image/svg+xml,%3Csvg width='13' height='10' viewBox='0 0 13 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.95703 4.75166L1.88825 4.68604L1.81923 4.75141L0.93123 5.59258L0.854858 5.66492L0.930974 5.73753L4.42671 9.07236L4.49574 9.1382L4.56476 9.07236L12.069 1.91352L12.1449 1.84116L12.069 1.76881L11.1873 0.927644L11.1183 0.861826L11.0493 0.927611L4.49577 7.17353L1.95703 4.75166Z' fill='white' stroke='white' stroke-width='0.2'/%3E%3C/svg%3E");
    background-size: 11px 8px;
}
.modal-form-agreement-disc{
    user-select: none;
}

 

/*-------advantage---------*/

.advantages{
    padding-top: 94px;
    padding-bottom: 94px;
}

.advantage__list{
    display: flex;
    justify-content:space-between;
}

.advantage__item{
    width: 270px;
}

.advantage__title {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;    
    color: var(--brand-color);
    margin-top: 30px;
    margin-bottom: 10px;
}

.advantage__text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.advantages__image{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    background: #F5F4FA;
    border-radius: 4px;
}


/*-------About work----------*/

.about-work{
    padding-bottom: 94px;
}

.about-work__photos{
    display: flex;
    justify-content: space-between;
    gap: 30px;
    
}
.about-work__photo-box{
    position: relative;
}

.about-work__title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--brand-color);
}

.about-work__overlay{
    position: absolute;
    bottom: 0;
    padding-top: 27px;
    padding-bottom: 27px;
    background-color: rgba(47, 48, 58, 0.8);
    width: 100%;
}

.about-work__overlay-text{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16/14);
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
}


/*-------Work team----------*/

.work-team {
    background: #F5F4FA;
    padding-top: 94px;
    padding-bottom: 94px;
}

.work-team__card{
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.work-team__title {
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color:var(--brand-color);
    margin-bottom: 50px;
}

.work-team__list{
    display:flex;
    justify-content: space-between;
    gap: 30px;
}
  

.work-team__name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--brand-color);
    margin-bottom: 10px;
}


.work-team__occupation {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
   }

.work-team__information{
    padding-top: 30px;
    padding-bottom: 30px;
   }

.work-team__contacts{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 16px;
}

.social-link{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    background-color: #ffffff;
    border-radius: 50%;
    color:#AFB1B8;
    transition-duration: var(--anim-speed);
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1)
}
  
.social__icons{
    fill:currentColor
}

.social-link:hover, 
.social-link:focus{
    background-color: var(--secondary-color);
    color: #FFFFFF;
}



/*-------Clients---------*/

.clients-title{
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;    
    color: var(--brand-color);
}

.clients{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.clients-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 106px;
    height: 60px;
    fill: #AFB1B8;
    transition-duration: var(--anim-speed);
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
}

.clients-link{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 92px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    transition-duration: var(--anim-speed);
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}


.clients-link:hover,
.clients-link:focus{
    border: 1px solid #2196F3;
    border-radius: 4px;
    fill: var(--secondary-color);
}

.clients-link:focus .clients-logo,
.clients-link:hover .clients-logo{
    fill: var(--secondary-color);
}

.clients-area{
    padding-top: 94px;
    padding-bottom: 94px;
}

/*-------Footer----------*/

.footer-box{
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #2F303A;
    margin-right: auto;
    margin-left: auto;
}

.footer-sections{
    display: flex;
    align-items: baseline;
    margin-left: auto;
}

.footer-contacts{
        justify-content: flex-start;
    align-items: center;
    margin-right: 70px;
    width: 231px;
}

.logo--white {
    color: #ffffff;
}

.location{
    margin-top: 20px;
}

.location-on-map{
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    margin-bottom: 9px;
}

.contact-tel{
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}


.contact-email{
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.mail-link{
    margin-bottom: 9px;
}

.fotter-socials{
    display: block;
    justify-content: baseline;
    align-items:flex-start;
    margin-right: 93px; 
}

.fotter-socials__title{
    display: block;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 20px;
}

.footer-socials__contacts {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}

.footer--social-link{
    display: flex;
    background: rgba(255, 255, 255, 0.1);
    color: #ffffff;
}

.footer--social-link:hover,
.footer--social-link:focus{
    background-color: var(--secondary-color);
    
}

.form__title{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16/14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 20px;
}

.form__field{
    width: 358px;
    height: 50px;
    background-color: transparent;
    outline: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    font-weight: 400;
    font-size: 16px;
    line-height: calc(20/16);
    align-items: center;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    padding-left: 16px;
}

.form{
    display: block;
    left: 215px;
}
.form__btn{
    padding: 10px 62px 10px 28px;
    margin-left: 12px;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: calc(30/16);
    letter-spacing: 0.06em;
    color: #FFFFFF;
    border: 0;
    outline: transparent;
    position: relative;
    transition-duration: var(--anim-speed);
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.form__icon{
    position: absolute;
    margin-left: 10px;  
}

.form__btn:hover,
.form__btn:focus{
    background-color: #188CE8;
}

/*---------Portfolio----------*/

.project-list {
    background: #FFFFFF;
    padding-top: 94px;
    padding-bottom: 94px;
}

.buttom-list{
    margin-bottom: 56px;
    display: flex;
    justify-content: center;
    gap: 8px;
}

.project-selection{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;  
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--brand-color);
    background: #F5F4FA;
    border-radius: 4px;
    padding: 6px 22px;
    border-width: 0px;
    min-height: 38px;
    transition-duration: var(--anim-speed);
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.project-selection:hover,
.project-selection:active{
    color: #FFFFFF;
    background: #2196F3;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    cursor: pointer;
}

.portfolio-list{
    display: flex;
    flex-wrap: wrap;
    padding-left: 0px;
    gap: 30px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.portfolio-list-item{
    flex-basis: calc((100%-60px)/3);
    flex-basis: 370px;
    max-width: 370px;
    transition-duration: var(--anim-speed);
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list-item:hover,
.portfolio-list-item:focus{
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.potfrolio-list-title {
    margin-bottom: 4px;
    width: 370px;
    font-size: 18px;
    line-height: 2.00;
    letter-spacing: 0.06em;
    color: var(--brand-color);
}

.portfolio-list-text {
    width: 370px;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: #757575;
}

.photo-description{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 24px;
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    border-top: none;
}

.overlay-box{
    position: relative;
    overflow: hidden;
}

.overlay-photo{
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: calc(28/18);
    letter-spacing: 0.03em;
    color: #FFFFFF;
    background: rgba(33, 150, 243, 0.9);

    position:absolute;
    top: 0;
    bottom: 0;
    width:100%;
    height: 100%;
    padding: 63px 24px;
        
    transform: translateY(100%);
    transition: transform var(--anim-speed) ;
}

.portfolio-list-item:hover .overlay-photo{
    transform: translateY(0);
    transition: transform var(--anim-speed) ease; 
}



